In [2]:
import requests
import pandas as pd
from io import StringIO

# API URL ve Client ID
url = "https://portaldades.ajuntament.barcelona.cat/services/backend/rest/statistic/export?id=b37xv8wcjh&fileformat=CSV"
headers = {
    "X-IBM-Client-Id": "f943a426a663183091a1401f55eec60d"
}

# API'den veriyi çek
response = requests.get(url, headers=headers)

if response.status_code == 200:
    # Veriyi StringIO ile oku
    data = StringIO(response.content.decode('latin1'))
    df_rent_price_avg = pd.read_csv(data, sep=',', encoding='latin1')  # SEP = ','
else:
    print(f"Veri çekilemedi! Status code: {response.status_code}")

In [3]:
df_rent_price_avg.head()

,Dim-00:TEMPS,Dim-01:TERRITORI,Dim-01:TERRITORI (order),Dim-01:TERRITORI (type),VALUE
0,2000-01-01T00:00:00Z,GrÃ cia,6,Districte,348.617900
1,2000-01-01T00:00:00Z,Horta-GuinardÃ³,7,Districte,320.278800
2,2000-01-01T00:00:00Z,Eixample,2,Districte,436.381771
3,2000-01-01T00:00:00Z,Sant Andreu,9,Districte,339.494251
4,2000-01-01T00:00:00Z,Sants-MontjuÃ¯c,3,Districte,312.987100

In [4]:
df_rent_price_avg = df_rent_price_avg.rename(columns={
    'Dim-00:TEMPS': 'year',
    'Dim-01:TERRITORI': 'territory',
    'Dim-01:TERRITORI (order)': 'territory_order',
    'Dim-01:TERRITORI (type)': 'territory_type',
    'VALUE': 'average_rent_price'
})

In [5]:
import numpy as np
for column in df_rent_price_avg:
    unique_vals = np.unique(df_rent_price_avg[column].fillna('0'))
    nr_values = len(unique_vals)
    if nr_values <= 85:
        print("The number of values for feature {} :{} -- {}".format(column, nr_values, unique_vals))
    else:
        print("The number of values for feature {} :{}".format(column, nr_values))

The number of values for feature year :100
The number of values for feature territory :85 -- ['Barcelona' 'BarÃ³ de Viver' 'Can BarÃ³' 'Can Peguera' 'Canyelles'
 'Catalunya' 'Ciutat Meridiana' 'Ciutat Vella'
 'Diagonal Mar i el Front MarÃ\xadtim del Poblenou' 'Eixample'
 'GrÃ\xa0cia' 'Horta' 'Horta-GuinardÃ³' 'Hostafrancs' 'Les Corts'
 'MetropolitÃ\xa0 de Barcelona' 'Montbau' 'Navas' 'Nou Barris' 'Pedralbes'
 'Porta' 'ProvenÃ§als del Poblenou' 'Sant Andreu' 'Sant Antoni'
 'Sant GenÃ\xads dels Agudells' 'Sant Gervasi - Galvany'
 'Sant Gervasi - la Bonanova' 'Sant MartÃ\xad'
 'Sant MartÃ\xad de ProvenÃ§als' 'Sant Pere, Santa Caterina i la Ribera'
 'Sants' 'Sants - Badal' 'Sants-MontjuÃ¯c' 'SarriÃ\xa0'
 'SarriÃ\xa0-Sant Gervasi' 'Torre BarÃ³' 'Vallbona'
 'Vallcarca i els Penitents' 'Vallvidrera, el Tibidabo i les Planes'
 'Verdun' 'Vilapicina i la Torre Llobeta' 'el Baix GuinardÃ³'
 'el Barri GÃ²tic' 'el BesÃ²s i el Maresme' 'el Bon Pastor'
 "el Camp d'en Grassot i GrÃ\xa0cia Nova" "el Camp de l'Arpa del Clot"
 'el Carmel' 'el Clot' 'el Coll' 'el CongrÃ©s i els Indians'
 'el Fort Pienc' 'el GuinardÃ³' 'el Parc i la Llacuna del Poblenou'
 'el Poble Sec - AEI Parc MontjuÃ¯c' 'el Poblenou' 'el Putxet i el FarrÃ³'
 'el Raval' 'el TurÃ³ de la Peira' "l'Antiga Esquerra de l'Eixample"
 'la Barceloneta' 'la Bordeta' 'la Clota' "la Dreta de l'Eixample"
 "la Font d'en Fargues" 'la Font de la Guatlla' 'la Guineueta'
 'la Marina de Port' 'la Marina del Prat Vermell - AEI Zona Franca'
 'la Maternitat i Sant Ramon' "la Nova Esquerra de l'Eixample"
 'la Prosperitat' 'la Sagrada FamÃ\xadlia' 'la Sagrera' 'la Salut'
 'la Teixonera' 'la Trinitat Nova' 'la Trinitat Vella' "la Vall d'Hebron"
 'la Verneda i la Pau' 'la Vila OlÃ\xadmpica del Poblenou'
 'la Vila de GrÃ\xa0cia' 'les Corts' 'les Roquetes' 'les Tres Torres']
The number of values for feature territory_order :74 -- [-1  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73]
The number of values for feature territory_type :5 -- ['Barri' 'Comunitat AutÃ²noma' 'Districte' 'Municipi'
 'Ã\x80mbit Funcional Territorial']
The number of values for feature average_rent_price :5358

In [6]:
print(df_rent_price_avg.columns)

Index(['year', 'territory', 'territory_order', 'territory_type',
       'average_rent_price'],
      dtype='object')

## ✅ Adım 1 - Encoding Cleanup (Zorunlu)

In [7]:
df_rent_price_avg['territory'] = df_rent_price_avg['territory'].str.encode('latin1').str.decode('utf-8')
df_rent_price_avg['territory_type'] = df_rent_price_avg['territory_type'].str.encode('latin1').str.decode('utf-8')

In [8]:
print(df_rent_price_avg['territory'].unique()[:10])
print(df_rent_price_avg['territory_type'].unique())

['Gràcia' 'Horta-Guinardó' 'Eixample' 'Sant Andreu' 'Sants-Montjuïc'
 'Sant Martí' 'Les Corts' 'Sarrià-Sant Gervasi' 'Barcelona' 'Nou Barris']
['Districte' 'Municipi' 'Comunitat Autònoma' 'Àmbit Funcional Territorial'
 'Barri']

## ✅ Adım 2 - Yıl Kontrolü ve Temizlik

In [9]:
print(sorted(df_rent_price_avg['year'].unique()))

['2000-01-01T00:00:00Z', '2000-04-01T00:00:00Z', '2000-07-01T00:00:00Z', '2000-10-01T00:00:00Z', '2001-01-01T00:00:00Z', '2001-04-01T00:00:00Z', '2001-07-01T00:00:00Z', '2001-10-01T00:00:00Z', '2002-01-01T00:00:00Z', '2002-04-01T00:00:00Z', '2002-07-01T00:00:00Z', '2002-10-01T00:00:00Z', '2003-01-01T00:00:00Z', '2003-04-01T00:00:00Z', '2003-07-01T00:00:00Z', '2003-10-01T00:00:00Z', '2004-01-01T00:00:00Z', '2004-04-01T00:00:00Z', '2004-07-01T00:00:00Z', '2004-10-01T00:00:00Z', '2005-01-01T00:00:00Z', '2005-04-01T00:00:00Z', '2005-07-01T00:00:00Z', '2005-10-01T00:00:00Z', '2006-01-01T00:00:00Z', '2006-04-01T00:00:00Z', '2006-07-01T00:00:00Z', '2006-10-01T00:00:00Z', '2007-01-01T00:00:00Z', '2007-04-01T00:00:00Z', '2007-07-01T00:00:00Z', '2007-10-01T00:00:00Z', '2008-01-01T00:00:00Z', '2008-04-01T00:00:00Z', '2008-07-01T00:00:00Z', '2008-10-01T00:00:00Z', '2009-01-01T00:00:00Z', '2009-04-01T00:00:00Z', '2009-07-01T00:00:00Z', '2009-10-01T00:00:00Z', '2010-01-01T00:00:00Z', '2010-04-01T00:00:00Z', '2010-07-01T00:00:00Z', '2010-10-01T00:00:00Z', '2011-01-01T00:00:00Z', '2011-04-01T00:00:00Z', '2011-07-01T00:00:00Z', '2011-10-01T00:00:00Z', '2012-01-01T00:00:00Z', '2012-04-01T00:00:00Z', '2012-07-01T00:00:00Z', '2012-10-01T00:00:00Z', '2013-01-01T00:00:00Z', '2013-04-01T00:00:00Z', '2013-07-01T00:00:00Z', '2013-10-01T00:00:00Z', '2014-01-01T00:00:00Z', '2014-04-01T00:00:00Z', '2014-07-01T00:00:00Z', '2014-10-01T00:00:00Z', '2015-01-01T00:00:00Z', '2015-04-01T00:00:00Z', '2015-07-01T00:00:00Z', '2015-10-01T00:00:00Z', '2016-01-01T00:00:00Z', '2016-04-01T00:00:00Z', '2016-07-01T00:00:00Z', '2016-10-01T00:00:00Z', '2017-01-01T00:00:00Z', '2017-04-01T00:00:00Z', '2017-07-01T00:00:00Z', '2017-10-01T00:00:00Z', '2018-01-01T00:00:00Z', '2018-04-01T00:00:00Z', '2018-07-01T00:00:00Z', '2018-10-01T00:00:00Z', '2019-01-01T00:00:00Z', '2019-04-01T00:00:00Z', '2019-07-01T00:00:00Z', '2019-10-01T00:00:00Z', '2020-01-01T00:00:00Z', '2020-04-01T00:00:00Z', '2020-07-01T00:00:00Z', '2020-10-01T00:00:00Z', '2021-01-01T00:00:00Z', '2021-04-01T00:00:00Z', '2021-07-01T00:00:00Z', '2021-10-01T00:00:00Z', '2022-01-01T00:00:00Z', '2022-04-01T00:00:00Z', '2022-07-01T00:00:00Z', '2022-10-01T00:00:00Z', '2023-01-01T00:00:00Z', '2023-04-01T00:00:00Z', '2023-07-01T00:00:00Z', '2023-10-01T00:00:00Z', '2024-01-01T00:00:00Z', '2024-04-01T00:00:00Z', '2024-07-01T00:00:00Z', '2024-10-01T00:00:00Z']

In [10]:
df_rent_price_avg['year'] = pd.to_datetime(df_rent_price_avg['year'])
df_rent_price_avg['year_quarter'] = df_rent_price_avg['year'].dt.to_period('Q').astype(str)

C:\Users\tevfi\AppData\Local\Temp\ipykernel_4516\2978808888.py:2: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  df_rent_price_avg['year_quarter'] = df_rent_price_avg['year'].dt.to_period('Q').astype(str)

In [11]:
print(df_rent_price_avg[['year', 'year_quarter']].head(40))

                        year year_quarter
0  2000-01-01 00:00:00+00:00       2000Q1
1  2000-01-01 00:00:00+00:00       2000Q1
2  2000-01-01 00:00:00+00:00       2000Q1
3  2000-01-01 00:00:00+00:00       2000Q1
4  2000-01-01 00:00:00+00:00       2000Q1
5  2000-01-01 00:00:00+00:00       2000Q1
6  2000-01-01 00:00:00+00:00       2000Q1
7  2000-01-01 00:00:00+00:00       2000Q1
8  2000-01-01 00:00:00+00:00       2000Q1
9  2000-01-01 00:00:00+00:00       2000Q1
10 2000-01-01 00:00:00+00:00       2000Q1
11 2000-01-01 00:00:00+00:00       2000Q1
12 2000-01-01 00:00:00+00:00       2000Q1
13 2000-01-01 00:00:00+00:00       2000Q1
14 2000-01-01 00:00:00+00:00       2000Q1
15 2000-01-01 00:00:00+00:00       2000Q1
16 2000-01-01 00:00:00+00:00       2000Q1
17 2000-01-01 00:00:00+00:00       2000Q1
18 2000-01-01 00:00:00+00:00       2000Q1
19 2000-01-01 00:00:00+00:00       2000Q1
20 2000-01-01 00:00:00+00:00       2000Q1
21 2000-01-01 00:00:00+00:00       2000Q1
22 2000-04-01 00:00:00+00:00       2000Q2
23 2000-04-01 00:00:00+00:00       2000Q2
24 2000-04-01 00:00:00+00:00       2000Q2
25 2000-04-01 00:00:00+00:00       2000Q2
26 2000-04-01 00:00:00+00:00       2000Q2
27 2000-04-01 00:00:00+00:00       2000Q2
28 2000-04-01 00:00:00+00:00       2000Q2
29 2000-04-01 00:00:00+00:00       2000Q2
30 2000-04-01 00:00:00+00:00       2000Q2
31 2000-04-01 00:00:00+00:00       2000Q2
32 2000-04-01 00:00:00+00:00       2000Q2
33 2000-07-01 00:00:00+00:00       2000Q3
34 2000-07-01 00:00:00+00:00       2000Q3
35 2000-07-01 00:00:00+00:00       2000Q3
36 2000-07-01 00:00:00+00:00       2000Q3
37 2000-07-01 00:00:00+00:00       2000Q3
38 2000-07-01 00:00:00+00:00       2000Q3
39 2000-07-01 00:00:00+00:00       2000Q3

In [12]:
df_rent_price_avg.head()

,year,territory,territory_order,territory_type,average_rent_price,year_quarter
0,2000-01-01 00:00:00+00:00,Gràcia,6,Districte,348.617900,2000Q1
1,2000-01-01 00:00:00+00:00,Horta-Guinardó,7,Districte,320.278800,2000Q1
2,2000-01-01 00:00:00+00:00,Eixample,2,Districte,436.381771,2000Q1
3,2000-01-01 00:00:00+00:00,Sant Andreu,9,Districte,339.494251,2000Q1
4,2000-01-01 00:00:00+00:00,Sants-Montjuïc,3,Districte,312.987100,2000Q1

In [13]:
# SAVE THE csv data

#df_rent_price_avg.to_csv('rent_price_avg.csv', index=False)

In [14]:
df_rent_price_avg['territory_type'].unique()

array(['Districte', 'Municipi', 'Comunitat Autònoma',
       'Àmbit Funcional Territorial', 'Barri'], dtype=object)

In [15]:
df_rent_price_avg['territory_type'] = df_rent_price_avg['territory_type'].replace({
    'Districte': 'District',
    'Municipi': 'Municipality',
    'Comunitat Autònoma': 'Autonomous Community',
    'Àmbit Funcional Territorial': 'Functional Territorial Area',
    'Barri': 'Neighbourhood'
})

In [16]:
df_rent_price_avg.head()

,year,territory,territory_order,territory_type,average_rent_price,year_quarter
0,2000-01-01 00:00:00+00:00,Gràcia,6,District,348.617900,2000Q1
1,2000-01-01 00:00:00+00:00,Horta-Guinardó,7,District,320.278800,2000Q1
2,2000-01-01 00:00:00+00:00,Eixample,2,District,436.381771,2000Q1
3,2000-01-01 00:00:00+00:00,Sant Andreu,9,District,339.494251,2000Q1
4,2000-01-01 00:00:00+00:00,Sants-Montjuïc,3,District,312.987100,2000Q1

In [17]:
df_rent_prices_filtered = df_rent_price_avg[[
    'territory',
    'territory_order',
    'territory_type',
    'average_rent_price',
    'year_quarter'
]]

df_rent_prices_filtered.to_csv("rent_prices_filtered.csv", index=False, encoding='utf-8')

## IMPORTING TO SQL

In [18]:
df_rent_prices_filtered.to_csv("rent_prices_utf8_bom.csv", index=False, encoding="utf-8-sig")

In [3]:
import pandas as pd

# Read the original file (the one with correct characters inside Python)
df = pd.read_csv("rent_prices_utf8_fixed.csv")

# Check: are characters displaying correctly here in Python?
print(df["territory"].head())

0            Gràcia
1    Horta-Guinardó
2          Eixample
3       Sant Andreu
4    Sants-Montjuïc
Name: territory, dtype: object

In [4]:
df.columns

Index(['territory', 'territory_order', 'territory_type', 'average_rent_price',
       'year_quarter'],
      dtype='object')

In [5]:
df.head()

,territory,territory_order,territory_type,average_rent_price,year_quarter
0,Gràcia,6,District,348.617900,2000Q1
1,Horta-Guinardó,7,District,320.278800,2000Q1
2,Eixample,2,District,436.381771,2000Q1
3,Sant Andreu,9,District,339.494251,2000Q1
4,Sants-Montjuïc,3,District,312.987100,2000Q1

In [2]:
df.to_csv("rent_prices_utf8_fixed.csv", index=False, encoding="utf-8-sig")