In [2]:
import requests
import pandas as pd

# Yıllara ait resource_id'lerin listesi
resource_ids = {
    '2015': '9a69cefe-dcc5-400c-8647-4e438f7ae12b',
    '2016': 'bc48d45b-1046-4496-93c1-fbdac1fd47d0',
    '2017': 'dc0c1ad4-8b5e-4762-b999-2d4ffc95a718',
    '2018': '9f5a6152-0075-4111-abec-7b5d62655dd3',
    '2019': '0e205580-6d55-4599-bd13-086de83130b8',
    '2020': 'afe5b67d-7948-4e79-a88c-d51e55fe3ac6',
    '2021': 'e14509ca-9cba-43ec-b925-3beb5c69c2c7'
}

# Boş bir DataFrame oluştur
all_data = pd.DataFrame()

# Her yılın verisini çek ve birleştir
for year, res_id in resource_ids.items():
    url = f'https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id={res_id}&limit=50000'
    response = requests.get(url)
    data = response.json()
    records = data['result']['records']
    df = pd.DataFrame.from_records(records)
    df['year'] = year  # Yıla ait bilgiyi ekle
    all_data = pd.concat([all_data, df], ignore_index=True)

# Sonuçları kontrol et
print(all_data.head())

  Codi_Districte Import_Euros Nom_Districte Nom_Barri Seccio_Censal  \
0              1     12659.06  Ciutat Vella  el Raval             1
1              1     10270.68  Ciutat Vella  el Raval             2
2              1      9887.87  Ciutat Vella  el Raval             3
3              1     12906.83  Ciutat Vella  el Raval             4
4              1     10414.04  Ciutat Vella  el Raval             5

  Codi_Barri  _id   Any  year
0          1    1  2015  2015
1          1    2  2015  2015
2          1    3  2015  2015
3          1    4  2015  2015
4          1    5  2015  2015

In [2]:
import numpy as np
for column in all_data:
    unique_vals = np.unique(all_data[column].fillna('0'))
    nr_values = len(unique_vals)
    if nr_values <= 85:
        print("The number of values for feature {} :{} -- {}".format(column, nr_values, unique_vals))
    else:
        print("The number of values for feature {} :{}".format(column, nr_values))

The number of values for feature Codi_Districte :10 -- ['1' '10' '2' '3' '4' '5' '6' '7' '8' '9']
The number of values for feature Import_Euros :7457
The number of values for feature Nom_Districte :10 -- ['Ciutat Vella' 'Eixample' 'Gràcia' 'Horta-Guinardó' 'Les Corts'
 'Nou Barris' 'Sant Andreu' 'Sant Martí' 'Sants-Montjuïc'
 'Sarrià-St. Gervasi']
The number of values for feature Nom_Barri :73 -- ['Baró de Viver' 'Can Baró' 'Can Peguera' 'Canyelles' 'Ciutat Meridiana'
 'Diagonal Mar i el Front Marítim del Poblenou' 'Horta' 'Hostafrancs'
 'Montbau' 'Navas' 'Pedralbes' 'Porta' 'Provençals del Poblenou'
 'Sant Andreu' 'Sant Antoni' 'Sant Genís dels Agudells'
 'Sant Gervasi - Galvany' 'Sant Gervasi - la Bonanova'
 'Sant Martí de Provençals' 'Sant Pere, Santa Caterina i la Ribera'
 'Sants' 'Sants - Badal' 'Sarrià' 'Torre Baró' 'Vallbona'
 'Vallcarca i els Penitents' 'Vallvidrera, el Tibidabo i les Planes'
 'Verdun' 'Vilapicina i la Torre Llobeta' 'el Baix Guinardó'
 'el Barri Gòtic' 'el Besòs i el Maresme' 'el Bon Pastor'
 "el Camp d'en Grassot i Gràcia Nova" "el Camp de l'Arpa del Clot"
 'el Carmel' 'el Clot' 'el Coll' 'el Congrés i els Indians'
 'el Fort Pienc' 'el Guinardó' 'el Parc i la Llacuna del Poblenou'
 'el Poble Sec - AEI Parc Montjuïc' 'el Poblenou' 'el Putxet i el Farró'
 'el Raval' 'el Turó de la Peira' "l'Antiga Esquerra de l'Eixample"
 'la Barceloneta' 'la Bordeta' 'la Clota' "la Dreta de l'Eixample"
 "la Font d'en Fargues" 'la Font de la Guatlla' 'la Guineueta'
 'la Marina de Port' 'la Marina del Prat Vermell - AEI Zona Franca'
 'la Maternitat i Sant Ramon' "la Nova Esquerra de l'Eixample"
 'la Prosperitat' 'la Sagrada Família' 'la Sagrera' 'la Salut'
 'la Teixonera' 'la Trinitat Nova' 'la Trinitat Vella' "la Vall d'Hebron"
 'la Verneda i la Pau' 'la Vila Olímpica del Poblenou' 'la Vila de Gràcia'
 'les Corts' 'les Roquetes' 'les Tres Torres']
The number of values for feature Seccio_Censal :181
The number of values for feature Codi_Barri :73 -- ['1' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '2' '20' '21' '22'
 '23' '24' '25' '26' '27' '28' '29' '3' '30' '31' '32' '33' '34' '35' '36'
 '37' '38' '39' '4' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49' '5'
 '50' '51' '52' '53' '54' '55' '56' '57' '58' '59' '6' '60' '61' '62' '63'
 '64' '65' '66' '67' '68' '69' '7' '70' '71' '72' '73' '8' '9']
The number of values for feature _id :1068
The number of values for feature Any :7 -- ['2015' '2016' '2017' '2018' '2019' '2020' '2021']
The number of values for feature year :7 -- ['2015' '2016' '2017' '2018' '2019' '2020' '2021']

In [3]:
all_data.head()

,Codi_Districte,Import_Euros,Nom_Districte,Nom_Barri,Seccio_Censal,Codi_Barri,_id,Any,year
0,1,12659.06,Ciutat Vella,el Raval,1,1,1,2015,2015
1,1,10270.68,Ciutat Vella,el Raval,2,1,2,2015,2015
2,1,9887.87,Ciutat Vella,el Raval,3,1,3,2015,2015
3,1,12906.83,Ciutat Vella,el Raval,4,1,4,2015,2015
4,1,10414.04,Ciutat Vella,el Raval,5,1,5,2015,2015

## ✅ 1️⃣ Encoding ve Karakter Temizliği (Zorunlu)

In [4]:
all_data['Nom_Barri'] = all_data['Nom_Barri'].str.strip()
all_data['Nom_Districte'] = all_data['Nom_Districte'].str.strip()

In [5]:
all_data.head()

,Codi_Districte,Import_Euros,Nom_Districte,Nom_Barri,Seccio_Censal,Codi_Barri,_id,Any,year
0,1,12659.06,Ciutat Vella,el Raval,1,1,1,2015,2015
1,1,10270.68,Ciutat Vella,el Raval,2,1,2,2015,2015
2,1,9887.87,Ciutat Vella,el Raval,3,1,3,2015,2015
3,1,12906.83,Ciutat Vella,el Raval,4,1,4,2015,2015
4,1,10414.04,Ciutat Vella,el Raval,5,1,5,2015,2015

In [6]:
print(all_data.dtypes)

Codi_Districte    object
Import_Euros      object
Nom_Districte     object
Nom_Barri         object
Seccio_Censal     object
Codi_Barri        object
_id                int64
Any               object
year              object
dtype: object

In [7]:
all_data['Import_Euros'] = pd.to_numeric(all_data['Import_Euros'], errors='coerce')
all_data['Any'] = all_data['Any'].astype(int)

In [8]:
print(all_data.dtypes)

Codi_Districte     object
Import_Euros      float64
Nom_Districte      object
Nom_Barri          object
Seccio_Censal      object
Codi_Barri         object
_id                 int64
Any                 int32
year               object
dtype: object

In [9]:
all_data = all_data[['Codi_Districte', 'Nom_Districte', 'Codi_Barri', 'Nom_Barri', 'Seccio_Censal', 'Any', 'Import_Euros']]

In [10]:
all_data.to_csv('income_data.csv', index=False)

In [1]:
import pandas as pd
df = pd.read_csv("income_data.csv")

In [2]:
df.columns

Index(['Codi_Districte', 'Nom_Districte', 'Codi_Barri', 'Nom_Barri',
       'Seccio_Censal', 'Any', 'Import_Euros'],
      dtype='object')