In [1]:
import requests
import pandas as pd

In [2]:
# Yıllara ait resource_id'lerin listesi
resource_ids = {
    '1997': 'ace48328-c14f-4d67-afe9-ce1bd8057ccc',
    '1998': 'd96b8438-9bc2-4e75-8d70-9e1374dc0983',
    '1999': 'cb5f9b6d-0e6c-4d35-bf2c-986e461d0825',
    '2000': '3c21fd04-5f98-41ce-b1cb-56e2b7cf0c84',
    '2001': '8a602477-d724-4a82-9b87-3e42dba55040',
    '2002': '411c5de4-6b6d-4228-b159-4c1d96b8e2cb',
    '2003': '816ec8d3-43b4-4da0-864f-384ef6e6f6a7',
    '2004': 'ec2bb3d2-43ba-4cc4-bb3a-73c7e1f9c9c3',
    '2005': 'dda2e7a6-6396-4e4d-b4c8-77339b5ebec9',
    '2006': '2e9f6b57-6062-4cf6-b248-7022659919d7',
    '2007': 'd0d7d48c-a5b3-461c-a34d-126f6c7ddcfb',
    '2008': 'f27d1abd-09cb-4f96-a47d-c62d058bd092',
    '2009': 'a5f76082-6e0d-4e89-acee-94a24e8d920c',
    '2010': '5af14703-b2c5-4227-b773-0bc5516e7250',
    '2011': '1b8695d0-276e-4df0-86fd-ff0ac0ce0d6a',
    '2012': 'e9600a47-b0b3-4495-b28e-3f2093822f71',
    '2013': '5143d709-419d-40d4-97f6-0eb65396298c',
    '2014': '2edf0aab-7751-4a1d-b7b5-780079c85110',
    '2015': '68af79ac-1df8-481a-9d03-34e5ce72e238',
    '2016': 'e32cf831-2ec5-4478-b3ea-6ea9adae5c5e',
    '2017': '7b844962-fd60-49d0-9604-1ba4711f1450',
    '2018': 'c661f45e-a959-4193-8ff5-43a728b2bb9c',
    '2019': 'd1260b9e-5009-4afc-85f2-79baf4c0d91b',
    '2020': '76907f41-31fb-4afc-b5df-ae0d06d99a37',
    '2021': '8b1f1cb6-14d1-4227-b03f-111bb721f82c',
    '2022': '78b965d3-b2dc-4f23-91b9-59caa45bc334',
    '2023': 'f70020ae-c41a-438d-8983-a372628c197b',
    '2024': 'fc597601-a291-4811-ad02-c58e32784692'
}


# Boş bir DataFrame oluştur
all_data = pd.DataFrame()

# Her yılın verisini çek ve birleştir
for year, res_id in resource_ids.items():
    url = f'https://opendata-ajuntament.barcelona.cat/data/api/action/datastore_search?resource_id={res_id}&limit=50000'
    response = requests.get(url)
    data = response.json()
    records = data['result']['records']
    df = pd.DataFrame.from_records(records)
    df['year'] = year  # Yıla ait bilgiyi ekle
    all_data = pd.concat([all_data, df], ignore_index=True)

# Sonuçları kontrol et
print(all_data.head())

  Codi_Districte Nom_Districte Codi_Barri Nom_Barri AEB Seccio_Censal Valor  \
0              1  Ciutat Vella          1  el Raval   1          1001  1092
1              1  Ciutat Vella          1  el Raval   1          1002  1209
2              1  Ciutat Vella          1  el Raval   2          1003  2129
3              1  Ciutat Vella          1  el Raval   2          1004  2028
4              1  Ciutat Vella          1  el Raval   3          1005  1893

       Data_Referencia  _id  year
0  1997-01-01T00:00:00    1  1997
1  1997-01-01T00:00:00    2  1997
2  1997-01-01T00:00:00    3  1997
3  1997-01-01T00:00:00    4  1997
4  1997-01-01T00:00:00    5  1997

In [3]:
import numpy as np
for column in all_data:
    unique_vals = np.unique(all_data[column].fillna('0'))
    nr_values = len(unique_vals)
    if nr_values <= 85:
        print("The number of values for feature {} :{} -- {}".format(column, nr_values, unique_vals))
    else:
        print("The number of values for feature {} :{}".format(column, nr_values))

The number of values for feature Codi_Districte :10 -- ['1' '10' '2' '3' '4' '5' '6' '7' '8' '9']
The number of values for feature Nom_Districte :10 -- ['Ciutat Vella' 'Eixample' 'Gràcia' 'Horta-Guinardó' 'Les Corts'
 'Nou Barris' 'Sant Andreu' 'Sant Martí' 'Sants-Montjuïc'
 'Sarrià-Sant Gervasi']
The number of values for feature Codi_Barri :73 -- ['1' '10' '11' '12' '13' '14' '15' '16' '17' '18' '19' '2' '20' '21' '22'
 '23' '24' '25' '26' '27' '28' '29' '3' '30' '31' '32' '33' '34' '35' '36'
 '37' '38' '39' '4' '40' '41' '42' '43' '44' '45' '46' '47' '48' '49' '5'
 '50' '51' '52' '53' '54' '55' '56' '57' '58' '59' '6' '60' '61' '62' '63'
 '64' '65' '66' '67' '68' '69' '7' '70' '71' '72' '73' '8' '9']
The number of values for feature Nom_Barri :73 -- ['Baró de Viver' 'Can Baró' 'Can Peguera' 'Canyelles' 'Ciutat Meridiana'
 'Diagonal Mar i el Front Marítim del Poblenou' 'Horta' 'Hostafrancs'
 'Montbau' 'Navas' 'Pedralbes' 'Porta' 'Provençals del Poblenou'
 'Sant Andreu' 'Sant Antoni' 'Sant Genís dels Agudells'
 'Sant Gervasi - Galvany' 'Sant Gervasi - la Bonanova'
 'Sant Martí de Provençals' 'Sant Pere, Santa Caterina i la Ribera'
 'Sants' 'Sants - Badal' 'Sarrià' 'Torre Baró' 'Vallbona'
 'Vallcarca i els Penitents' 'Vallvidrera, el Tibidabo i les Planes'
 'Verdun' 'Vilapicina i la Torre Llobeta' 'el Baix Guinardó'
 'el Barri Gòtic' 'el Besòs i el Maresme' 'el Bon Pastor'
 "el Camp d'en Grassot i Gràcia Nova" "el Camp de l'Arpa del Clot"
 'el Carmel' 'el Clot' 'el Coll' 'el Congrés i els Indians'
 'el Fort Pienc' 'el Guinardó' 'el Parc i la Llacuna del Poblenou'
 'el Poble-sec' 'el Poblenou' 'el Putxet i el Farró' 'el Raval'
 'el Turó de la Peira' "l'Antiga Esquerra de l'Eixample" 'la Barceloneta'
 'la Bordeta' 'la Clota' "la Dreta de l'Eixample" "la Font d'en Fargues"
 'la Font de la Guatlla' 'la Guineueta' 'la Marina de Port'
 'la Marina del Prat Vermell' 'la Maternitat i Sant Ramon'
 "la Nova Esquerra de l'Eixample" 'la Prosperitat' 'la Sagrada Família'
 'la Sagrera' 'la Salut' 'la Teixonera' 'la Trinitat Nova'
 'la Trinitat Vella' "la Vall d'Hebron" 'la Verneda i la Pau'
 'la Vila Olímpica del Poblenou' 'la Vila de Gràcia' 'les Corts'
 'les Roquetes' 'les Tres Torres']
The number of values for feature AEB :233
The number of values for feature Seccio_Censal :1068
The number of values for feature Valor :2180
The number of values for feature Data_Referencia :28 -- ['1997-01-01T00:00:00' '1998-01-01T00:00:00' '1999-01-01T00:00:00'
 '2000-01-01T00:00:00' '2001-01-01T00:00:00' '2002-01-01T00:00:00'
 '2003-01-01T00:00:00' '2004-01-01T00:00:00' '2005-01-01T00:00:00'
 '2006-01-01T00:00:00' '2007-01-01T00:00:00' '2008-01-01T00:00:00'
 '2009-01-01T00:00:00' '2010-01-01T00:00:00' '2011-01-01T00:00:00'
 '2012-01-01T00:00:00' '2013-01-01T00:00:00' '2014-01-01T00:00:00'
 '2015-01-01T00:00:00' '2016-01-01T00:00:00' '2017-01-01T00:00:00'
 '2018-01-01T00:00:00' '2019-01-01T00:00:00' '2020-01-01T00:00:00'
 '2021-01-01T00:00:00' '2022-01-01T00:00:00' '2023-01-01T00:00:00'
 '2024-01-01T00:00:00']
The number of values for feature _id :1068
The number of values for feature year :28 -- ['1997' '1998' '1999' '2000' '2001' '2002' '2003' '2004' '2005' '2006'
 '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014' '2015' '2016'
 '2017' '2018' '2019' '2020' '2021' '2022' '2023' '2024']

In [4]:
all_data.dtypes

Codi_Districte     object
Nom_Districte      object
Codi_Barri         object
Nom_Barri          object
AEB                object
Seccio_Censal      object
Valor              object
Data_Referencia    object
_id                 int64
year               object
dtype: object

In [16]:
all_data['Valor'] = pd.to_numeric(all_data['Valor'], errors='coerce')
all_data['year'] = pd.to_numeric(all_data['year'], errors='coerce')

In [6]:
print(all_data.columns)

Index(['Codi_Districte', 'Nom_Districte', 'Codi_Barri', 'Nom_Barri', 'AEB',
       'Seccio_Censal', 'Valor', 'Data_Referencia', '_id', 'year'],
      dtype='object')

In [7]:
all_data = all_data[['Codi_Districte', 'Nom_Districte', 'Codi_Barri', 'Nom_Barri', 'AEB', 'Seccio_Censal', 'year', 'Valor']]

In [8]:
print(all_data.isnull().sum())

Codi_Districte    0
Nom_Districte     0
Codi_Barri        0
Nom_Barri         0
AEB               0
Seccio_Censal     0
year              0
Valor             0
dtype: int64

In [15]:
print(sorted(all_data['year'].unique()))
print(all_data['Nom_Barri'].unique()[:10])

['1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024']
['el Raval' 'el Barri Gòtic' 'la Barceloneta'
 'Sant Pere, Santa Caterina i la Ribera' 'el Fort Pienc'
 'la Sagrada Família' "la Dreta de l'Eixample"
 "l'Antiga Esquerra de l'Eixample" "la Nova Esquerra de l'Eixample"
 'Sant Antoni']

In [11]:
print(all_data.shape)
print(all_data['year'].value_counts())

(29895, 8)
year
2011    1068
2012    1068
2023    1068
2022    1068
2021    1068
2020    1068
2019    1068
2018    1068
2017    1068
2016    1068
2015    1068
2014    1068
2013    1068
2024    1068
2010    1068
2009    1068
2008    1068
2007    1068
2006    1068
2005    1068
2004    1068
2003    1068
2002    1068
2001    1067
2000    1067
1999    1067
1998    1065
1997    1065
Name: count, dtype: int64

In [12]:
print(f"YEAR: {year} - Records: {len(records)}")

YEAR: 2024 - Records: 1068

In [17]:
print(all_data['year'].dtype)

int64

In [14]:
print(resource_ids)

{'1997': 'ace48328-c14f-4d67-afe9-ce1bd8057ccc', '1998': 'd96b8438-9bc2-4e75-8d70-9e1374dc0983', '1999': 'cb5f9b6d-0e6c-4d35-bf2c-986e461d0825', '2000': '3c21fd04-5f98-41ce-b1cb-56e2b7cf0c84', '2001': '8a602477-d724-4a82-9b87-3e42dba55040', '2002': '411c5de4-6b6d-4228-b159-4c1d96b8e2cb', '2003': '816ec8d3-43b4-4da0-864f-384ef6e6f6a7', '2004': 'ec2bb3d2-43ba-4cc4-bb3a-73c7e1f9c9c3', '2005': 'dda2e7a6-6396-4e4d-b4c8-77339b5ebec9', '2006': '2e9f6b57-6062-4cf6-b248-7022659919d7', '2007': 'd0d7d48c-a5b3-461c-a34d-126f6c7ddcfb', '2008': 'f27d1abd-09cb-4f96-a47d-c62d058bd092', '2009': 'a5f76082-6e0d-4e89-acee-94a24e8d920c', '2010': '5af14703-b2c5-4227-b773-0bc5516e7250', '2011': '1b8695d0-276e-4df0-86fd-ff0ac0ce0d6a', '2012': 'e9600a47-b0b3-4495-b28e-3f2093822f71', '2013': '5143d709-419d-40d4-97f6-0eb65396298c', '2014': '2edf0aab-7751-4a1d-b7b5-780079c85110', '2015': '68af79ac-1df8-481a-9d03-34e5ce72e238', '2016': 'e32cf831-2ec5-4478-b3ea-6ea9adae5c5e', '2017': '7b844962-fd60-49d0-9604-1ba4711f1450', '2018': 'c661f45e-a959-4193-8ff5-43a728b2bb9c', '2019': 'd1260b9e-5009-4afc-85f2-79baf4c0d91b', '2020': '76907f41-31fb-4afc-b5df-ae0d06d99a37', '2021': '8b1f1cb6-14d1-4227-b03f-111bb721f82c', '2022': '78b965d3-b2dc-4f23-91b9-59caa45bc334', '2023': 'f70020ae-c41a-438d-8983-a372628c197b', '2024': 'fc597601-a291-4811-ad02-c58e32784692'}

In [18]:
all_data.to_csv('population_data.csv', index=False)