In [1]:
import pandas as pd

# Change the filename to your dataset
df = pd.read_csv("rent_price_avg.csv")

# Print column names and data types
print(df.dtypes)

# Optionally: show first few rows to understand values
print(df.head())

year                   object
territory              object
territory_order         int64
territory_type         object
average_rent_price    float64
year_quarter           object
dtype: object
                        year       territory  territory_order territory_type  \
0  2000-01-01 00:00:00+00:00          Gràcia                6      Districte
1  2000-01-01 00:00:00+00:00  Horta-Guinardó                7      Districte
2  2000-01-01 00:00:00+00:00        Eixample                2      Districte
3  2000-01-01 00:00:00+00:00     Sant Andreu                9      Districte
4  2000-01-01 00:00:00+00:00  Sants-Montjuïc                3      Districte

   average_rent_price year_quarter
0          348.617900       2000Q1
1          320.278800       2000Q1
2          436.381771       2000Q1
3          339.494251       2000Q1
4          312.987100       2000Q1

In [2]:
df['territory_type'].unique()  # Check unique values in 'territory_type' column

array(['Districte', 'Municipi', 'Comunitat Autònoma',
       'Àmbit Funcional Territorial', 'Barri'], dtype=object)

In [19]:
import pandas as pd
df = pd.read_csv("tenure_regime_count.csv")
print(df.dtypes)
print(df.head())

year                 int64
territory           object
territory_order      int64
territory_type      object
tenure_regime       object
num_main_homes     float64
dtype: object
   year       territory  territory_order territory_type tenure_regime  \
0  1981       Barcelona                1       Municipi          Rent
1  1981       Barcelona                1       Municipi     Ownership
2  1981       Barcelona                1       Municipi         Other
3  1991       Barcelona                1       Municipi     Ownership
4  1991  Horta-Guinardó                7      Districte          Rent

   num_main_homes
0        268881.0
1        287153.0
2         23797.0
3        354477.0
4         17872.0

In [20]:
df['territory_type'].unique()  # Check unique values in 'territory_type' column

array(['Municipi', 'Districte', 'Barri'], dtype=object)

## importing aribnb listing.csv

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load the dataset
df = pd.read_csv("barcelona_listings.csv")

# Step 2: MySQL credentials (edit your password if needed)
user = "root"
password = "335133"  # ← replace with your actual password
host = "localhost"
database = "barcelona_housing_project"

# Step 3: Create connection
connection_string = f"mysql+pymysql://{user}:{password}@{host}/{database}"
engine = create_engine(connection_string)

# Step 4: Send to MySQL
df.to_sql(name="airbnb_listings", con=engine, if_exists="replace", index=False)

print("✅ Airbnb listings successfully sent to MySQL!")

✅ Airbnb listings successfully sent to MySQL!

## improting HUT.csv

In [5]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load the dataset
df = pd.read_csv("touristic_homes_HUT.csv")

# Step 2: Replace commas with dots in lat/lon and convert to float
df["latitude"] = df["latitude"].str.replace(",", ".").astype(float)
df["longitude"] = df["longitude"].str.replace(",", ".").astype(float)

# Optional: convert column names to lowercase and snake_case for easier SQL usage
df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_")

# Step 3: MySQL connection info
user = "root"
password = "335133"  # ← change this
host = "localhost"
database = "barcelona_housing_project"

connection_string = f"mysql+pymysql://{user}:{password}@{host}/{database}"
engine = create_engine(connection_string)

# Step 4: Send to MySQL
df.to_sql(name="hut_licenses", con=engine, if_exists="replace", index=False)

print("✅ HUT licenses dataset successfully sent to MySQL!")

✅ HUT licenses dataset successfully sent to MySQL!

In [3]:
import pandas as pd
df = pd.read_csv("touristic_homes_HUT.csv")
df.head()

,district_code,longitude,staircase,number_type,building_entrance,street_type,street_number_start,street_number_end,district_name,neighbourhood_name,...,door,letter2,number_of_places,expedient_number,letter1,latitude,block,street_name,neighbourhood_code,id
0,1,"2,17017206787341",NaN,1,NaN,Carrer,19,NaN,CIUTAT VELLA,el Raval,...,1,NaN,3.0,01-2009-0354,NaN,"41,3784454355655",NaN,SANT JOSEP ORIOL,1.0,1
1,1,"2,18200417667745",NaN,2,NaN,Carrer,22,NaN,CIUTAT VELLA,"Sant Pere, Santa Caterina i la Ribera",...,NaN,NaN,3.0,01-2011-0123,NaN,"41,3828840594187",NaN,AGULLERS,4.0,2
2,1,"2,17308601359367",NaN,2,NaN,Carrer,8,NaN,CIUTAT VELLA,el Barri Gòtic,...,2,NaN,3.0,01-2011-0137,NaN,"41,3822240718426",NaN,ROCA,2.0,3
3,1,"2,18200417667745",NaN,2,NaN,Carrer,22,NaN,CIUTAT VELLA,"Sant Pere, Santa Caterina i la Ribera",...,NaN,NaN,3.0,01-2011-0152,NaN,"41,3828840594187",NaN,AGULLERS,4.0,4
4,1,"2,18330533470055",NaN,1,NaN,Plaça,9,NaN,CIUTAT VELLA,"Sant Pere, Santa Caterina i la Ribera",...,2,NaN,9.0,01-2011-0157,B,"41,3836849458057",NaN,OLLES,4.0,5

## imporing income_data.csv

In [7]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load the dataset
df = pd.read_csv("income_data.csv")

# Optional: Rename columns to lowercase + snake_case for SQL clarity
df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_")

# Step 2: MySQL connection info
user = "root"
password = "335133"  # ← update this
host = "localhost"
database = "barcelona_housing_project"

connection_string = f"mysql+pymysql://{user}:{password}@{host}/{database}"
engine = create_engine(connection_string)

# Step 3: Send to MySQL
df.to_sql(name="income_data", con=engine, if_exists="replace", index=False)

print("✅ Income data successfully sent to MySQL!")

✅ Income data successfully sent to MySQL!

## importing population_data.csv

In [10]:
import pandas as pd
from sqlalchemy import create_engine

# Step 1: Load the dataset
df = pd.read_csv("population_data.csv")

# Step 3: Connect to MySQL
user = "root"
password = "335133"  # Update this
host = "localhost"
database = "barcelona_housing_project"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# Step 4: Send to MySQL
df.to_sql(name="population_data", con=engine, if_exists="replace", index=False)

print("✅ Population data successfully sent to MySQL!")

✅ Population data successfully sent to MySQL!

## unemployed.data

In [12]:
import pandas as pd
from sqlalchemy import create_engine

# Load the data
df = pd.read_csv("unemployed_data.csv")

# Connect to MySQL
user = "root"
password = "335133"  # ← update as needed
host = "localhost"
database = "barcelona_housing_project"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# Send to MySQL
df.to_sql(name="unemployed_data", con=engine, if_exists="replace", index=False)

print("✅ Unemployment data sent to MySQL!")

✅ Unemployment data sent to MySQL!

## importing hosuing stock

In [15]:
import pandas as pd
from sqlalchemy import create_engine

# Load the dataset
df = pd.read_csv("housing_stock_data.csv")

# Connect to MySQL
user = "root"
password = "335133"  # Update this
host = "localhost"
database = "barcelona_housing_project"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# Send to MySQL
df.to_sql(name="housing_stock", con=engine, if_exists="replace", index=False)

print("✅ Housing stock data sent to MySQL!")

✅ Housing stock data sent to MySQL!

## importing housing_occupancy_data

In [18]:
import pandas as pd
from sqlalchemy import create_engine

# Load the dataset
df = pd.read_csv("housing_occupancy_data.csv")

# Connect to MySQL
user = "root"
password = "335133"  # Update this
host = "localhost"
database = "barcelona_housing_project"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# Send to MySQL
df.to_sql(name="housing_occupancy", con=engine, if_exists="replace", index=False)

print("✅ Housing occupancy data sent to MySQL!")

✅ Housing occupancy data sent to MySQL!

## importing tenure regime data

In [22]:
import pandas as pd
from sqlalchemy import create_engine

# Load the dataset
df = pd.read_csv("tenure_regime_count.csv")

# Connect to MySQL
user = "root"
password = "335133"  # Update this
host = "localhost"
database = "barcelona_housing_project"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")

# Send to MySQL
df.to_sql(name="tenure_data", con=engine, if_exists="replace", index=False)

print("✅ Tenure regime data sent to MySQL!")

✅ Tenure regime data sent to MySQL!